<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atras', users_path %>
