<p id="notice"><%= notice %></p>

<%= render @post %>

<h2>Comments</h2>
<div id="comments"> 
      <%= render @post.comments.reverse %>
</div>

<%= form_for [@post, Comment.new], remote: true do |f| %>
    <p>
        <%= f.label :body, "Nuevo comentario" %>
        <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Agregar comentario" %></p> 
<% end %>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Atras', posts_path %>
